@using System.Linq
@using StudyGuidance.Web.Models;
@using StudyGuidance.Web.ApiClient
@inject IRecruiterApiClient RecruiterApiClient;
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;
@if(showEditModal)
{
    <div class="modal show" id="editRecruiterModal" tabindex="-1" role="dialog" aria-labelledby="editRecruiterModalLabel" aria-hidden="true">
        @if (currentRecruiter != null)
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRecruiterModalLabel">Edit Recruiter @currentRecruiter.FirstName</h5>
                        <button type="button" class="close" @onclick="OnCloseClick" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>First name</p>
                        <input @bind="currentRecruiter.FirstName" class="form-control" />
                        <p>Last name</p>
                        <input @bind="currentRecruiter.LastName" class="form-control" />
                        <p>Email</p>
                        <input @bind="currentRecruiter.Email" class="form-control" />
                        <p>Company</p>
                        <input @bind="currentRecruiter.Company" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @onclick="() => OnSaveClick()">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="OnCloseClick">Close</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (showAddModal)
{
    <div class="modal show" id="addRecruiterModal" tabindex="-1" role="dialog" aria-labelledby="addRecruiterModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecruiterModalLabel">Add Recruiter</h5>
                    <button type="button" class="close" @onclick="() => OnCloseRecruiterModalClick()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <p>First name</p>
                    <input @bind="newRecruiter.FirstName" class="form-control" />
                    <p>Last name</p>
                    <input @bind="newRecruiter.LastName" class="form-control" />
                    <p>Email</p>
                    <input @bind="newRecruiter.Email" class="form-control" />
                    <p>Company</p>
                    <input @bind="newRecruiter.Company" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @onclick="() => OnAddRecruiterSaveClick()">Save recruiter</button>
                    <button type="button" class="btn btn-secondary" @onclick="() => OnCloseRecruiterModalClick()">Close</button>
                    </div>
                </div>
            </div>
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">NAAM</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">Bedrijf</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recruiter in recruiters)
        {
            <tr>
                <td class="name-td align-middle">@recruiter.FirstName @recruiter.LastName</td>
                <td class="email-td align-middle">@recruiter.Email</td>
                <td class="company-td align-middle">@recruiter.Company</td>
                <td class="pencil-td align-middle"><i class="bi bi-pencil-fill" @onclick="() => OnEditClick(recruiter)"></i></td>
                <td class="trash-td align-middle"><i class="bi bi-trash3-fill" @onclick="() => OnDeleteClick(recruiter)"></i></td>
            </tr>
        }
    </tbody>
</table>
<div class="add-div">
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Size="MudBlazor.Size.Small" @onclick="() => OnOpenAddModalClick()" />
</div>
<div class="home-div">
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Home" Size="MudBlazor.Size.Small" @onclick="() => OnHomeClick()" />
</div>

